.leaflet-top-pane {
  pointer-events: none;
}
.leaflet-popup-pane {
  z-index: 10;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  pointer-events: none;
}
.header-font {
  font-family: 'Roboto' Arial;
}
.text-font {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Roboto' Arial;
}
body {
  background: #2cbeb2;
}
.container {
  background: #fff;
  min-height: 1600px;
}
#title {
  font-size: 16px;
}
#map {
  width: 100%;
  height: 578px;
}
#map .leaflet-popup-content-wrapper {
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
#map .leaflet-popup-tip-container {
  width: 16px;
  height: 8px;
}
#map .leaflet-popup-tip {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
}
#country_list {
  padding: 0 0 100px 0;
}
#country_list .char-box {
  border-top: 1px solid #007ce0;
  margin: 30px 0 0 0;
}
#country_list .char-box .char-label {
  font-family: 'Roboto' Arial;
  color: #007ce0;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin: 5px 0 0 0;
}
#country_list .char-box .country-item {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}
#country_list .char-box .country-item:hover {
  color: #007ce0;
}
#country_list .char-box .country-item.inactive {
  color: #999999;
}
#country_list .char-box .country-item.inactive:hover {
  color: #999999;
}
