::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0;
  background-color: #efefef;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #007ce0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: none;
  background-color: #007ce0;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.otf');
  font-weight: light;
  font-style: normal;
}
.header-font {
  font-family: 'Gotham' Arial;
}
.text-font {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Gotham' Arial;
  letter-spacing: 1.5px;
}
body {
  background: #2cbeb2 no-repeat fixed center;
  background-image: url('../img/world_map_dot.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  body {
    background-image: url("../img/world_map_dot@2x.png");
    background-size: 1864px 1176px;
  }
}
.container {
  background: #fff;
  width: 1260px;
}
.container .col-md-12 {
  padding: 0 45px 0 45px;
}
.leaflet-container .leaflet-top-pane {
  pointer-events: none;
}
.leaflet-container .leaflet-popup-pane {
  z-index: 10;
}
.leaflet-container .leaflet-popup-close-button {
  display: none;
}
.leaflet-container .leaflet-popup-content {
  padding: 0 0 0 0 !important;
}
.leaflet-container .leaflet-popup-content-wrapper {
  pointer-events: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.leaflet-container .leaflet-popup-tip-container {
  width: 16px;
  height: 8px;
}
.leaflet-container .leaflet-popup-tip {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
}
.leaflet-container .leaflet-bottom.leaflet-right .map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.leaflet-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control {
  display: none;
}
.leaflet-container .leaflet-bar.leaflet-control {
  margin-left: 45px;
}
.leaflet-container .leaflet-bar.leaflet-control.leaflet-control-zoom {
  margin-top: 30px;
}
.leaflet-container path {
  -webkit-transition: fill 200ms;
  transition: fill 200ms;
}
.c3-tooltip {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.c3-tooltip th {
  background-color: #000;
}
.chart-title {
  font-family: 'Gotham' Arial;
  font-size: 15px;
  font-weight: bold;
}
.chart-value,
.chart-unit {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}
.input-dropdown input {
  padding: 5px 20px 5px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: bold;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-dropdown-menu::-webkit-scrollbar {
  display: none;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #007ce0;
}
@-webkit-keyframes flash-animation {
  from {
    color: #000;
    background: #fff;
  }
  to {
    color: #fff;
    background: #007ce0;
  }
}
@-moz-keyframes flash-animation {
  from {
    color: #000;
    background: #fff;
  }
  to {
    color: #fff;
    background: #007ce0;
  }
}
@-ms-keyframes flash-animation {
  from {
    color: #000;
    background: #fff;
  }
  to {
    color: #fff;
    background: #007ce0;
  }
}
@keyframes flash-animation {
  from {
    color: #000;
    background: #fff;
  }
  to {
    color: #fff;
    background: #007ce0;
  }
}
.nav-tree {
  width: 230px;
  background: #fff;
}
.nav-tree .search-input-group {
  width: 230px;
}
.nav-tree .search-input-group input {
  width: 230px;
  height: 35px;
}
.nav-tree .tt-dropdown-menu {
  width: 230px;
  max-height: 472px;
  overflow: auto;
}
.nav-tree .tree-options {
  margin: 15px 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}
.nav-tree .tree-options a {
  color: #007ce0;
  cursor: pointer;
}
.nav-tree .tree-options a:hover {
  text-decoration: none;
}
.nav-tree .tree-options span {
  margin: 0 15px;
  color: #007ce0;
}
.nav-tree .tree-container {
  margin-top: 10px;
  height: 430px;
  overflow: hidden;
}
.nav-tree .tree-container:hover {
  overflow-y: auto;
}
.nav-tree .tree-container > ol {
  padding: 0 0 410px 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.nav-tree .tree-container > ol li {
  padding-left: 18px;
}
.nav-tree .tree-container > ol li .thumb {
  margin: -1px 0 0 -18px;
}
.nav-tree .tree-container > ol li label {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal !important;
}
.nav-tree .tree-container > ol li label.flash {
  -webkit-animation: flash-animation 500ms 200ms ease-in alternate;
  -moz-animation: flash-animation 500ms 200ms ease-in alternate;
  -ms-animation: flash-animation 500ms 200ms ease-in alternate;
}
.nav-tree .tree-container > ol li span {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal !important;
  margin-left: 3px;
}
.nav-tree .tree-container > ol li input {
  margin-right: 10px;
}
.nav-tree .tree-container > ol .has-children > label,
.nav-tree .tree-container > ol .has-children > span {
  font-weight: bold !important;
}
#header_img {
  width: 1260px;
  height: 560px;
  background: no-repeat;
  background-image: url('../img/browse_header.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #header_img {
    background-image: url("../img/browse_header@2x.png");
    background-size: 1260px 560px;
  }
}
#topic_img {
  width: 1260px;
  height: 2629px;
  background: no-repeat #ffffff;
  background-image: url('../img/browse_topic.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #topic_img {
    background-image: url("../img/browse_topic@2x.png");
    background-size: 1260px 2629px;
  }
}
#footer_img {
  width: 1260px;
  height: 227px;
  background: no-repeat #ffffff;
  background-image: url('../img/browse_footer.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_img {
    background-image: url("../img/browse_footer@2x.png");
    background-size: 1260px 227px;
  }
}
#title {
  font-size: 16px;
  line-height: 16px;
  margin: 50px 0 15px 0;
}
#browse_options {
  position: absolute;
  left: 150px;
  top: 50px;
  line-height: 16px;
  font-size: 14px;
}
#browse_options span {
  margin: 0 10px;
}
#browse_options a {
  color: #000;
  cursor: pointer;
  margin-top: 1px;
  display: inline-block;
}
#browse_options a:hover,
#browse_options a.selected {
  text-decoration: none;
  color: #007ce0;
  font-weight: bold;
}
#browse_options a#option_map {
  width: 28px;
}
#browse_options a#option_az {
  width: 100px;
}
#map {
  width: 100%;
  height: 580px;
  margin: 0 0 50px 0;
}
.marker-container {
  position: relative;
  width: 140px;
  height: 75px;
  padding: 0 !important;
}
.marker-container .line-break {
  position: absolute;
  background: #fff;
  width: 1px;
  height: 42px;
  left: 70px;
  top: 12px;
}
.marker-container .marker-box {
  width: 70px;
  height: 75px;
  float: left;
}
.marker-container .marker-box .marker-number {
  font-family: 'Gotham' Arial;
  font-size: 30px;
  line-height: 30px;
  font-weight: light;
  text-align: center;
  padding: 0;
  margin: 15px auto 5px auto;
}
.marker-container .marker-box .marker-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px !important;
  line-height: 10px !important;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
#country_list {
  margin: 0 45px 30px 45px;
  padding: 0;
  display: none;
}
#country_list .col-md-2 {
  width: 170px;
  margin: 0 30px 0 0;
  padding: 0;
}
#country_list .char-box {
  border-top: 1px solid #007ce0;
  margin: 0 0 38px 0;
}
#country_list .char-box .char-label {
  font-family: 'Gotham' Arial;
  color: #007ce0;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}
#country_list .char-box .country-item a {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
}
#country_list .char-box .country-item a:hover {
  color: #007ce0;
  text-decoration: none;
}
#country_list .char-box .country-item.inactive a {
  color: #999999 !important;
}
#country_list .char-box .country-item.inactive a:hover {
  color: #999999 !important;
}
