@import "../lib/css/typeahead.css";
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.otf');
  font-weight: light;
  font-style: normal;
}
.header-font {
  font-family: 'Gotham' Arial;
}
.text-font {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Gotham' Arial;
  letter-spacing: 1.5px;
}
body {
  background: #2cbeb2 no-repeat fixed center;
  background-image: url('../img/world_map_dot.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  body {
    background-image: url("../img/world_map_dot@2x.png");
    background-size: 1864px 1176px;
  }
}
.container {
  background: #fff;
  width: 1260px;
}
.container .col-md-12 {
  padding: 0 45px 0 45px;
}
.leaflet-container .leaflet-top-pane {
  pointer-events: none;
}
.leaflet-container .leaflet-popup-pane {
  z-index: 10;
}
.leaflet-container .leaflet-popup-close-button {
  display: none;
}
.leaflet-container .leaflet-popup-content {
  padding: 0 0 0 0 !important;
}
.leaflet-container .leaflet-popup-content-wrapper {
  pointer-events: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.leaflet-container .leaflet-popup-tip-container {
  width: 16px;
  height: 8px;
}
.leaflet-container .leaflet-popup-tip {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
}
.leaflet-container .leaflet-bottom.leaflet-right .map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.leaflet-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control {
  display: none;
}
.leaflet-container .leaflet-bar.leaflet-control {
  margin-left: 45px;
}
.leaflet-container .leaflet-bar.leaflet-control.leaflet-control-zoom {
  margin-top: 30px;
}
.leaflet-container path {
  -webkit-transition: fill 200ms;
  transition: fill 200ms;
}
.c3-tooltip {
  opacity: 1;
}
.c3-tooltip th {
  background-color: #000;
}
.nav-tree {
  width: 270px;
}
.nav-tree .search-input-group {
  width: 270px;
}
.nav-tree .search-input-group input {
  width: 270px;
  height: 35px;
  padding: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham' Arial;
  font-weight: bold;
}
.nav-tree .twitter-typeahead {
  display: table-cell !important;
}
.nav-tree .form-control.typeahead.tt-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tree .tt-dropdown-menu {
  width: 300px;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 0 0 0;
}
.nav-tree .tt-dropdown-menu .tt-dataset-regions {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
}
.nav-tree .tt-dropdown-menu .tt-dataset-regions div.tt-suggestions:hover {
  background: #ccc;
}
#header_img {
  width: 1260px;
  height: 95px;
  background: no-repeat;
  background-image: url('../img/country_header.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #header_img {
    background-image: url("../img/country_header@2x.png");
    background-size: 1260px 95px;
  }
}
#content_img {
  position: relative;
  width: 1260px;
  height: 1566px;
  background: no-repeat #ffffff;
  background-image: url('../img/country_content.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #content_img {
    background-image: url("../img/country_content@2x.png");
    background-size: 1260px 1566px;
  }
}
#footer_img {
  width: 1260px;
  height: 160px;
  background: no-repeat #ffffff;
  background-image: url('../img/page_footer.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_img {
    background-image: url("../img/page_footer@2x.png");
    background-size: 1260px 160px;
  }
}
#title {
  font-size: 16px;
  line-height: 16px;
  margin: 50px 0 10px 0;
}
#map_container {
  width: 100%;
  height: 322px;
}
#map {
  width: 100%;
  height: 100%;
}
#map .marker-container {
  position: relative;
  width: 140px;
  height: 75px;
  padding: 0 !important;
}
#map .marker-container .line-break {
  position: absolute;
  background: #fff;
  width: 1px;
  height: 42px;
  left: 70px;
  top: 12px;
}
#map .marker-container .marker-box {
  width: 70px;
  height: 75px;
  float: left;
}
#map .marker-container .marker-box .marker-number {
  font-family: 'Gotham' Arial;
  font-size: 30px;
  line-height: 30px;
  font-weight: light;
  text-align: center;
  padding: 0;
  margin: 15px auto 5px auto;
}
#map .marker-container .marker-box .marker-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px !important;
  line-height: 10px !important;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
#map_row {
  position: relative;
}
#title_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 93px;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
#title_bar #title_label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  line-height: 93px;
  font-weight: bold;
  margin: 0 0 0 45px;
}
#title_bar #title_actions {
  position: absolute;
  left: 900px;
  top: 28px;
  width: 319px;
  height: 37px;
  background-image: url('../img/country_action.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #title_bar #title_actions {
    background-image: url("../img/country_action@2x.png");
    background-size: 319px 37px;
  }
}
#country_list {
  margin: 0 45px 30px 45px;
  padding: 0;
}
#country_list .col-md-2 {
  width: 170px;
  margin: 0 30px 0 0;
  padding: 0;
}
#country_list .char-box {
  border-top: 1px solid #007ce0;
  margin: 38px 0 0 0;
}
#country_list .char-box .char-label {
  font-family: 'Gotham' Arial;
  color: #007ce0;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}
#country_list .char-box .country-item {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
}
#country_list .char-box .country-item:hover {
  color: #007ce0;
}
#country_list .char-box .country-item.inactive {
  color: #999999;
}
#country_list .char-box .country-item.inactive:hover {
  color: #999999;
}
#chart {
  position: absolute;
  left: 420px;
  top: 150px;
  width: 370px;
  height: 290px;
}
#latest_data {
  position: absolute;
  left: 446px;
  top: 115px;
  font-family: 'Gotham' Arial;
  font-size: 24px;
}
#latest_data span {
  font-size: 10px;
}
