@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.otf');
  font-weight: light;
  font-style: normal;
}
.header-font {
  font-family: 'Gotham' Arial;
}
.text-font {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Gotham' Arial;
  letter-spacing: 1.5px;
}
body {
  background: #2cbeb2 no-repeat fixed center;
  background-image: url('../img/world_map_dot.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  body {
    background-image: url("../img/world_map_dot@2x.png");
    background-size: 1864px 1176px;
  }
}
.container {
  background: #fff;
  width: 1260px;
}
.container .col-md-12 {
  padding: 0 45px 0 45px;
}
.leaflet-container .leaflet-top-pane {
  pointer-events: none;
}
.leaflet-container .leaflet-popup-pane {
  z-index: 10;
}
.leaflet-container .leaflet-popup-close-button {
  display: none;
}
.leaflet-container .leaflet-popup-content {
  padding: 0 0 0 0 !important;
}
.leaflet-container .leaflet-popup-content-wrapper {
  pointer-events: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.leaflet-container .leaflet-popup-tip-container {
  width: 16px;
  height: 8px;
}
.leaflet-container .leaflet-popup-tip {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
}
.leaflet-container .leaflet-bottom.leaflet-right .map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.leaflet-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control {
  display: none;
}
.leaflet-container .leaflet-bar.leaflet-control {
  margin-left: 45px;
}
.leaflet-container .leaflet-bar.leaflet-control.leaflet-control-zoom {
  margin-top: 30px;
}
.leaflet-container path {
  -webkit-transition: fill 200ms;
  transition: fill 200ms;
}
.c3-tooltip {
  opacity: 1;
}
.c3-tooltip th {
  background-color: #000;
}
#header_img {
  width: 1260px;
  height: 170px;
  background: no-repeat;
  background-image: url('../img/indicator_header.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #header_img {
    background-image: url("../img/indicator_header@2x.png");
    background-size: 1260px 170px;
  }
}
#content_img {
  width: 1260px;
  height: 1550px;
  background: no-repeat #ffffff;
  background-image: url('../img/indicator_content.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #content_img {
    background-image: url("../img/indicator_content@2x.png");
    background-size: 1260px 1550px;
  }
}
#footer_img {
  width: 1260px;
  height: 160px;
  background: no-repeat #ffffff;
  background-image: url('../img/page_footer.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_img {
    background-image: url("../img/page_footer@2x.png");
    background-size: 1260px 160px;
  }
}
#chart_container {
  width: 1050px;
  height: 320px;
  margin: 30px auto 30px auto;
}
