doctype html
html(lang="en")
  head
    title Browse
    //jquery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' type='text/javascript')
    //bootstrap
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' type='text/javascript')
    link(href='http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css' rel='stylesheet')
    //mapbox
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js' type='text/javascript')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    //mapbox plugins
    script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js' type='text/javascript')
    //d3
    script(src='http://d3js.org/d3.v3.min.js' type='text/javascript')
    script(src='http://d3js.org/topojson.v1.min.js' type='text-javascript')
    //data
    script(src='data/world_json.js' type='text/javascript')
    script(src='data/regional_codes.js' type='text/javascript')
    script(src='data/countries.js' type='text/javascript')
    //font
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    //custom
    script(src='js/browse.js' type='text/javascript')
    link(href='css/browse.css' rel='stylesheet')
  body
    .container
      .row
        #header_img
      .row
        .col-md-12
          h5#title Location
          #map
      .row
        .col-md-12#country_list
      .row
        #topic_img
      .row
        #footer_img
