doctype html
html(lang="en")
  head
    title Country
    //js
    script(src='js/lib/require.v1.0.8.js' data-main='js/country.js')
    //style
    link(href='https://rawgit.com/masayuki0812/c3/master/c3.css' rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    link(href='css/country.css' rel='stylesheet')

  body
    .container
      .row
        #header_img
      .row#map_row
        #map_container
          #map
        #title_bar
          h3#title_label
          #title_actions
      .row
        #content_img
          #latest_data
          #chart
      .row
        #footer_img
