doctype html
html(lang="en")
  head
    title Index
    //style
    link(href='css/lib/bootstrap.min.css' rel='stylesheet')
    link(href='css/index.css' rel='stylesheet')

  body
    .container
      .row
        .col-md-5
        #menu.col-md-2
          h4 INDEX
          .btn-group-vertical
            a.btn.btn-default(href='browse.html') Browse
            a.btn.btn-default(href='country.html') Country
            a.btn.btn-default(href='indicator.html') Indicator
            a.btn.btn-default(href='search.html') Search
            a.btn.btn-default(href='analyse.html') Analyse
            a.btn.btn-default(href='customize.html') Customize
            a.btn.btn-default(href='component.html') Component
            a.btn.btn-default(href='chartable.html') Chartable
        .col-md-5
