doctype html
html(lang="en")
  head
    title Search Bar
    //js
    script(src='js/lib/require.v1.0.8.js' data-main='js/search.js')
    //style
    link(href='css/lib/c3.css' rel='stylesheet')
    link(href='css/lib/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet')
    link(href='css/lib/chosen/chosen.min.css' rel='stylesheet')
    link(href='css/lib/bootstrap-combobox.css' rel='stylesheet')
    link(href='css/lib/tree/jquery.bonsai.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    link(href='css/search.css' rel='stylesheet')

  body
    .container
      .row.no-margin
        #dropdown_session
          #search_bar_top
          #search_bar_content
           #filter_container
             #country_filter.filter-group
               label Location
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any location
             #format_filter.filter-group
               label Format
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any format
                 option(value='XSL') XSL
                 option(value='CSV') CSV
                 option(value='TXT') TXT
                 option(value='PDF') PDF
             #topic_filter.filter-group
               label Topic
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any topic
                 option(value='Health') Health
                 option(value='Logistics') Logistics
                 option(value='Food') Food
                 option(value='Nutrition') Nutrition
             #license_filter.filter-group
               label License
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any license
                 option(value='License 1') License 1
                 option(value='License 2') License 2
                 option(value='License 3') License 3
                 option(value='License 4') License 4
             #organization_filter.filter-group
               label Organization
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any organization
                 option(value='Organization 1') Organization 1
                 option(value='Organization 2') Organization 2
                 option(value='Organization 3') Organization 3
                 option(value='Organization 4') Organization 4
             #language_filter.filter-group
               label Language
               select.combobox.form-control(name='inline')
                 option(value='' selected='selected') Any language
                 option(value='Language 1') Language 1
                 option(value='Language 2') Language 2
                 option(value='Language 3') Language 3
                 option(value='Language 4') Language 4
           #date_container
            label Date Range
            input(placeholder='Start date' type='text')
            input(placeholder='End date' type='text')
          #search_bar_bottom
            #search_filter_btn
              | Filter
              span +
