doctype html
html(lang="en")
  head
    title Template
    //js
    script(src='js/lib/require.v1.0.8.js' data-main='js/template.js')
    //style
    link(href='css/lib/c3.css' rel='stylesheet')
    link(href='css/lib/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet')
    link(href='css/lib/chosen/chosen.min.css' rel='stylesheet')
    link(href='css/lib/bootstrap-combobox.css' rel='stylesheet')
    link(href='css/lib/tree/jquery.bonsai.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    link(href='css/component.css' rel='stylesheet')

  body
    .container
      .row
