doctype html
html(lang="en")
  head
    title Template
    //js
    script(src='js/lib/require.v1.0.8.js' data-main='js/template.js')
    //style
    link(href='css/lib/c3.css' rel='stylesheet')
    link(href='css/lib/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet')
    link(href='css/lib/chosen/chosen.min.css' rel='stylesheet')
    link(href='css/lib/tree/jquery.bonsai.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    link(href='css/template.css' rel='stylesheet')

  body
    .container
      .row#nav_tree_row
        .col-md-10
          h3 Navigation tree for regions
          #location_selector
            h5 Select Locations
            #the_tree
        .col-md-2
      .row
        .col-md-10
          h3 Dropdown filters for search
      .row.no-margin
        #dropdown_session
          #search_bar_top
          #search_bar_content
           #filter_container
           #date_container
            label Date Range
            input(placeholder='Start date' type='text')
            input(placeholder='End date' type='text')
          #search_bar_bottom
            #search_filter_btn
              | Filter
              span +
