doctype html
html(lang="en")
  head
    title WFP
    //js
    script(src='js/lib/require.v1.0.8.js' data-main='js/wfp.js')
    //style
    link(href='css/lib/c3.css' rel='stylesheet')
    link(href='css/lib/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet')
    link(href='css/lib/chosen/chosen.min.css' rel='stylesheet')
    link(href='css/lib/tree/jquery.bonsai.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet')
    link(href='css/wfp.css' rel='stylesheet')

  body
    .container
      .row#options
        .col-md-1
        .col-md-10

          h5 Select Indicators
          select#chosen_indicators.chosen-select(multiple data-placeholder='Choose an indicator')
            //- optgroup(label="WFP")
            //-   option(value='CHD.B.FOS.04.T6') Percentage of households with poor food consumption
            //-   option(value='CHD.B.FOS.05.T6') Percentage of households with borderline food consumption
            //-   option(value='CHD.B.FOS.06.T6') Percentage of households with acceptable food consumption

          h5 Select Periods
          #chosen_periods
        .col-md-1
      .row
        .col-md-1
        .col-md-2
          h5 Select Regions
          ol#chosen_regions
            li
              input(type='checkbox')
              | All Regions
        .col-md-8
          h5 Graph
          #map_container
            #map
            #map_periods_container
              #map_period_selector.btn-group.btn-group-xs
          #chart_container
            #chart
          #options_container
        .col-md-1
