// IMPORTS
@import "../lib/css/retina.less";

// Scroll Bar
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: #efefef;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: @blue;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: none;
    background-color: @blue;
}

// FONTS
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.otf');
  font-weight: light;
  font-style: normal;
}

// MIXINS
.header-font {
  font-family: 'Gotham' Arial !important;
}
.text-font {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease, @direction: normal) {
	-webkit-animation: @name @duration @delay @ease @direction;
	-moz-animation:    @name @duration @delay @ease @direction;
	-ms-animation:     @name @duration @delay @ease @direction;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

// GENERAL
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  .text-font();
  -webkit-font-smoothing: antialiased !important;
}
li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  .header-font();
  letter-spacing: 1.5px;
}
@green: #2cbeb2;
@blue: #007ce0;
@gray: #999;

// TEMP - LAYOUT
body {
  background: @green no-repeat fixed center;
  .at2x('../img/world_map_dot.png', 1864px, 1176px);
}
.container {
  background: #fff;
  width: 1260px;
  .col-md-12 {
    padding: 0 45px 0 45px;
  }
}

// MAP
.leaflet-container {
  // set up choropleth map
  .leaflet-top-pane {
    pointer-events: none;
  }
  // setup popup
  .leaflet-popup-pane {
    z-index: 10;
  }
  .leaflet-popup-close-button {
    display: none;
   }
  .leaflet-popup-content {
    padding: 0 0 0 0 !important;
  }
  .leaflet-popup-content-wrapper {
    pointer-events: none;
    background:#333;
    color:#fff;
    font-size:16px;
    line-height:24px;
  }
  .leaflet-popup-tip-container {
    width: 16px;
    height: 8px;
  }
  .leaflet-popup-tip {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333;
  }
  // hide copyrights
  .leaflet-bottom.leaflet-right{
    .map-legend {
      .swatch{
        width:20px;
        height:20px;
        float:left;
        margin-right:10px;
      }
    }
    .leaflet-control-attribution.leaflet-control {
      display: none;
    }
  }
  &.map-selection{
    // zoom control postioin
    .leaflet-bar.leaflet-control
    {
      margin-left:45px;
      &.leaflet-control-zoom{
        margin-top: 30px;
      }
    }
  }

  path {
    -webkit-transition: fill 200ms;
    transition: fill 200ms;
  }

  .marker-container {
    position: relative;
    width: 60px;
    height: 40px;
    padding: 0 !important;
    margin: 20px;
    .marker-number {
      .header-font();
      font-size: 30px;
      line-height: 30px;
      font-weight: light;
      text-align: center;
      padding: 0 0 5px 0;
      color: #fff;
    }
    .marker-label {
      .text-font();
      font-size: 10px !important;
      line-height: 10px !important;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
}

// C3
.c3-tooltip{
  .opacity(1);
}
.c3-tooltip th{
  background-color: #000;
}
.chart-title {
  .header-font();
  font-size: 15px;
  font-weight: bold;
}
.chart-value, .chart-unit {
  .text-font();
  font-size: 12px;
}
.radar.chart{
  position: relative;
  text{
    .text-font();
  }
  polygon {
    stroke: none !important;
  }
  .area {
    fill-opacity: 0.5;
    .circle {
      fill-opacity: 0.9;
      stroke: #fff;
      stroke-opacity: 0.0;
      stroke-width: 10 !important;
      // stroke: none !important;
    }
  }
  .radar-legend-item {
    cursor: pointer;
  }
  .radar-tooltip{
    position: absolute;
    background: #000;
    color: #fff;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: auto;
    cursor: pointer;
    .border-radius();
    &:after {
      position: absolute;
      content:"";
      width:0;
      height:0;
      top: 40px;
      left: 34px;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top:6px solid #000;
    }
  }
}

// Components
// typeahead
.combobox-container{
  width: 270px;
  input{
    font-weight: bold;
    padding: 6px 15px;
    border-color: #ccc;
    height: 36px;
  }
  .typeahead.dropdown-menu{
    width: 270px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    li a{
      padding: 3px 15px;
      strong {
        color: @blue;
      }
      &:hover {
        background: @blue;
        strong{
          color: @green;
        }
      }
    }
  }
  .input-group-addon.dropdown-toggle{
    background:#888;
    border-color: #ccc;
    .caret {
      margin-left: 0;
      border-top: 8px solid #fff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}

// Navigation Tree
.input-dropdown {
  width: 270px;
  input {
    width: 235px;
    padding: 7px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #ccc;
    .border-radius(5px);
    font-weight: bold;
  }
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  .border-radius();
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  &::-webkit-scrollbar {
    display: none;
  }
  //options
  width: 270px;
  max-height: 200px;
  overflow: auto;
}
.tt-suggestion > p {
  display: block;
  padding: 7px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  strong {
    color: @blue;
  }
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: @blue;
  strong {
    color: @green;
  }
}

.mixi-flash () {
	from {color: #000;background:#fff;}
	to {color: #fff;background:@blue}
}
@-webkit-keyframes flash-animation {.mixi-flash;}
@-moz-keyframes flash-animation {.mixi-flash;}
@-ms-keyframes flash-animation {.mixi-flash;}
@keyframes flash-animation {.mixi-flash;}
.nav-tree
{
  width: 230px;
  background: #fff;
  .search-input-group{
    width: 230px;
    input {
      width: 230px;
      height: 35px;
    }
  }
  .tt-dropdown-menu {
    width: 230px;
    max-height: 472px;
    overflow: auto;
  }
  .tree-options {
    margin: 15px 0 0 0;
    .text-font();
    font-size: 12px;
    a {
      color: @blue;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      margin: 0 15px;
      color: @blue;
    }
  }
  .tree-container{
    margin-top: 10px;
    height: 470px;
    overflow: hidden;
    &:hover{
      overflow-y: auto;
    }
    > ol {
      padding: 0 0 450px 0;
      li {
        padding-left: 18px;
        .thumb {
          margin: -1px 0 0 -18px;
        }
      }
      li label{
        display: inline;
        font-size: 14px;
        line-height: 14px;
        font-weight: normal !important;
        &.flash{
          // .animation(flash-animation, 500ms, 200ms, ease-in, alternate);
        }
      }
      li span{
        font-size: 14px;
        line-height: 14px;
        font-weight: normal !important;
        margin-left: 3px;
      }
      li input {
        margin-right: 10px;
      }
      .text-font();
      .has-children >label, .has-children >span{
        font-weight: bold !important;
      }
    }
  }
}
