@import "ocha.less";

.container {
  min-height: 800px;
  padding-bottom: 500px;
  background: #fff;
  height: 100%;
}

.row {
  margin-top: 100px;
  &.no-margin{
    margin-top: 0;
  }
}

h3 {
  margin-bottom: 50px;
}
